aiohttp==3.8.1
aioredis==1.3.1
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.6.1
Automat==20.2.0
backports.zoneinfo==0.2.1
certifi==2022.6.15
cffi==1.15.1
channels==3.0.5
channels-redis==3.4.1
charset-normalizer==2.1.0
class-registry==2.1.2
constantly==15.1.0
cryptography==37.0.4
daphne==3.0.2
defusedxml==0.7.1
Django==4.0.6
django-admin==2.0.1
django-allauth==0.51.0
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-filter==22.1
django-six==1.0.4
djangorestframework==3.13.1
filters==1.3.2
frozenlist==1.3.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
msgpack==1.0.4
multidict==6.0.2
oauthlib==3.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.4.0
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
regex==2022.7.9
requests==2.28.1
requests-oauthlib==1.3.1
screen==1.0.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==22.4.0
txaio==22.2.1
typing-extensions==4.3.0
urllib3==1.26.10
xlwt==1.3.0
yarl==1.7.2
zope.interface==5.4.0
