{% extends 'flatpages/default.html' %}

{% block title %}
Title
{% endblock title %}

{% block content %}
    <br>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Поиск">
    </form>
    <hr>
    {% if videos %}
        <table>
        {% for record in filter.qs %}
            <td>
                <tr>
                <a class="nav-link" href="/watch/{{ record.pk }}">
                <video width="320" height="240" class="video-fluid">
                    <source src="{{ record.video.url }}" type="video/mp4" />
                </video>
                <br>
                <p class="text-center mt-2 mb-2">{{ record.name }}</p>
                </a>
                </tr>
            </td>
            <hr>
        {% endfor %}
        </table>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">В начало</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
            {% endif %}

        {% endif %}

    {% else %}
        <h3>Видео не загружены =(</h3>
    {% endif %}
{% endblock content %}
