{% extends 'flatpages/default.html' %}

{% block title %}
Chat
{% endblock title %}

{% block content %}
<div id = "chat_page" room_code = {{ chatView.pk }} user_name = {{ request.user.username }}>
  <h3>Чат с пользователем {{chatView.id_video_author.username}}</h3>
  <div>
    <button id="connect_button">Подключиться</button>&nbsp;|&nbsp;Статус:
    <span id="connect_status">Не подключено</span>
  </div>
  <h3>Список сообщений</h3>
  <hr>
  <div id="chat_log"
       style="width:100%;height:30em;overflow:auto;">
  </div>
  <hr>
  <form id="message_form" onsubmit="return false;">
    <input id="text" type="text" style="width:80%"/>
    <input id="send_button" type="button" value="Отправить сообщение" />
  </form>
</div>
{% endblock content %}