{% extends 'flatpages/default.html' %}

{% block title %}
Chat
{% endblock title %}

{% block content %}
<h2>Чат с пользователем {{chatView.id_author.username}}</h2>
<div>
  <button id="connect">Подключиться</button>&nbsp;|&nbsp;Статус:
  <span id="status">не подключено</span>
  <br><br>
  <button id="check">Проверить подключение</button>&nbsp;|&nbsp;Статус:
  <span id="check_status">не подключено</span>
</div>
<h3>Список сообщений</h3>
<hr>
<div id="log"
     style="width:100%;height:30em;overflow:auto;">
</div>
<hr>
<form id="newsform" onsubmit="return false;">
  <input id="text" type="text" style="width:80%"/>
  <input id="send" type="button" value="отправить сообщение" />
</form>
{% endblock content %}